@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: "Roboto-Regular";
}
  
.hover-underline-animation::after {
content: '';
position: absolute;
width: 100%;
transform: scaleX(0);
height: 3px;
bottom: 0;
left: 0;
background-color: #ffffff;
transform-origin: center right left;
transition: transform 0.5s ease-out;
}
  
.hover-underline-animation:hover::after {
transform: scaleX(1);
transform-origin: center right left;
}

.main{
    padding: 30px 20%;
}

.img-mac{
    height: 300px;
    width: 300px;
    background-color: gray;
}

.title-sign{
    -webkit-clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
    clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
    background-color: #374151;
    display: flex;
    color: #fff;
    width: 200px;
    padding: 10px 50px;
    margin: 40px 0;
    font-weight: bold;
    line-height: 20px;
    text-align: center;
    font-size: 18px;
}

@font-face {
    font-family: "Roboto-Regular"; 
    src: url("./Fonts/Roboto-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 

/* the slides */
.slick-slide {
margin: 0 27px;
}

/* the parent */
.slick-list {
    margin: 0 -27px;
}

.slider-wrap{
    width: 60%;
    margin: 0 auto;
}

.sub-nav{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden; 
}

.service-list > ul{
    width: 40%;
}

.service-list li{
    margin-bottom: 5px;
    cursor: pointer;
}

.service-list li:hover{
    color: #0369A1;
    text-decoration: underline;
}

@media (max-width: 1450px) { 
    .header-text{
        display: none;
    }
 }

 @media (max-width:  1025px) { 
 }

