@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    font-family: "Roboto-Regular";
}
 

.contactButton-small{
    display: none;
    position: fixed;
    width: 40px;
    right: 0;
    bottom: 5%;
    background-color: #036AA2;
    color: #fff;
    font-weight: bold;
    border-radius: 10px 0   0 10px;
    cursor: pointer;
    writing-mode: vertical-rl;
    padding: 5px 0;
    align-items: center;
    transition: 0.1s ease-in-out;
}

.contactButton-small-text{
    margin-right: 10px;
    font-size: 18px;
    transition: 0.1s ease-in-out;
}

.contactButton-small:hover{
    width: 60px;
}

.contactButton-small:hover .contactButton-small-text{
    margin-right: 30px;
}


.contactButton{
    position: fixed;
    right: 40px;
    bottom: 40px;
    border-radius: 50%;
    cursor: pointer;
    -webkit-transform: translateZ(0);
    z-index: 100;
    transition: 0.1s ease-in-out;
    color: #374151;
    text-align: center;
    align-items: center;
}

.contactButton:hover .contactButton-img{
    background-color: #54cc6276;
}

.contactButton-img{
    height: 80px;
    width: 80px;
    user-select: none;
    -webkit-user-drag: none;
    margin: 0 auto;
    border-radius: 50%;
    padding: 5px;
}


.hover-underline-animation::after {
content: '';
position: absolute;
width: 100%;
transform: scaleX(0);
height: 3px;
bottom: 0;
left: 0;
background-color: #ffffff;
transform-origin: center right left;
transition: transform 0.5s ease-out;
}
  
.hover-underline-animation:hover::after {
transform: scaleX(1);
transform-origin: center right left;
}

.main{
    padding: 30px 8px;
    margin: 0 auto;
}

.global-width{
    max-width: 1150px;
}

.img-mac{
    height: 300px;
    width: 300px;
    background-color: gray;
}

.title-sign{
    -webkit-clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
    clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
    background-color: #374151;
    color: #fff;
    max-width: 250px;
    padding: 10px 30px;
    margin: 40px 0 20px 0;
    font-weight: bold;
    line-height: 20px;
    text-align: center;
    font-size: 18px;
}

@font-face {
    font-family: "Roboto-Regular"; 
    src: url("./Fonts/Roboto-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 

/* the slides */
.slick-slide {
margin: 0 27px;
}

/* the parent */
.slick-list {
    margin: 0 -27px;
}

.slider-wrap{
    width: 60%;
    margin: 0 auto;
}

.vertical-slider-wrap{
    width: 90%;
    margin: 0 auto;
}

.sub-nav{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    z-index: 10;
}

.nav-expand:hover .sub-nav{
    display: block;
}

.sub-nav:hover{
    display: block;
}

.service-list{
    margin: 0 auto;
    flex-wrap: wrap;
    position: relative;
}

.service-list > ul{
    max-width: 500px;
    overflow: hidden;
    margin: 0 auto;
}

.service-list a{
    margin-bottom: 5px;
    cursor: pointer;
    display: block;
    color: #0369A1;
}

.service-list a:hover{
    text-decoration: underline;
}

.service-list a::before{
    content: "•";
    margin-right: 5px;
}

.header{
    background: rgb(38,45,56);
    background: linear-gradient(0deg, rgba(38,45,56,1) 0%, rgba(55,65,81,1) 45%, rgba(64,81,97,1) 71%, rgba(70,90,107,1) 94%, rgba(86,102,115,1) 100%);
}

.header-text{
    font-size: 20px;
}

.footer{
    position: relative;
    z-index: 101;
}

.map-wrap{
    width: 100%;
    height: 400px;
    position: relative;
}

.map{
    width: 100%;
    height: 100%;
}

.bredcrumb{
    border-bottom: 3px solid #374151;
}

.address{
    position: absolute;
    background-color: #374151;
    height: 200px;
    width: 300px;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    border-radius: 5%;
}

.address-phone:hover{
    color: #0369A1;
    text-decoration: underline;
}

.advantages-block{
    display: flex;
    flex-direction: column;
    width: 250px;
    border-radius: 20px;
    background-color: #374151;
    font-weight: bold;
    color: #fff;
    align-items: center;
    justify-content: center;
    padding: 10px;
    text-align: center;
    margin: 5px;
}

.advantages-block img{
    width: 60px;
    filter: invert();
}

.slick-slide{
    position: relative;
}

.banner-slide-link{
    position: absolute;
    background-color: #0369A1;
    padding: 5px;
    left: 0;
    bottom: 0;
    color: #fff;
}

@media (max-width: 890px) { 
    .header-text{
        font-size: .9rem !important;
    }
}
@media (max-width: 730px) { 
    .header-text{
        font-size: .9rem !important;
    }
    .header-address{
        font-size: 12px;
    }
 }

 @media (max-width:  1025px) { 
    .vertical-slider-wrap{
        width: 80%;
    }
 }

 @media (max-width: 770px){
    .nav a{
        font-size: 14px;
    }
 }
 

@media (max-width: 710px){
    .nav{
       flex-direction: column;
       width: 80%;
    }

    .nav-el{
        margin: 5px auto;
        display: block;
        width: 100%;
        border: none;
        border-bottom: 1px solid rgb(255, 255, 255);
        border-top: 1px solid rgb(255, 255, 255);
        padding: 10px 0;
    }
    
    .nav-expand{
        width: 100% !important;
        border: none;
        margin: 5px auto;
        display: block;
        width: 100%;
        border: none;
        border-bottom: 1px solid rgb(255, 255, 255);
        border-top: 1px solid rgb(255, 255, 255);
        display: flex;
        justify-content: center;
        padding: 10px 0;
    }

    .nav-expand a{
        margin: 0 auto;
    }

    .nav-expand-arrow{
        margin-left: auto;
    }
 }

 @media (max-width:  1025px) {
    .service-list{
        margin: 0 !important;
    }
    .service-list>ul{
        min-width: 100% !important;
        text-align: center;
    }
    .service-list>ul a{
        margin: 10px 0 !important;
        text-decoration: underline;
    }
    .address{
        left: 1%;
    }

}

@media (max-width:  670px) {
  .header{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width:  769px) {
  .address{
        position: inherit;
        width: 100%;
        border-radius: 0;
        transform: translateX(0);
    }

    .slider-wrap{
        width: 90%;
    }

    .contactButton-img{
        width: 50px;
        height: 50px;
    }
}

@media (max-width:  426px) {
  .header-text{
        text-align: center;
  }

  .title-sign{
    margin-left: auto;
    margin-right: auto;
  }
  
  .vertical-slider-wrap{
    width: 90%;
  }

  .advantages-block{
    width: 45%;
  }

}
@media (max-width:  1439px) {
    .contactButton{
        display: none;
    }
    .contactButton-small{
    display: block;
    }
  }
  
